/* Natalie Maestas CSS */


/* --------------------- HEADER ---------------------------------- */
header {
	height: 150px; 
	width: 100%;
	color: #ffffff;
	background: #ca8866;
	text-align: center;
	text-decoration: none;
	display: table;
}

header h1 {
    font-size: 500%;
    font-family: 'Sacramento', cursive;
    margin-top: 25px;
}

header h1 a {
	text-decoration: none;
}

header h1 a:link, header h1 a:visited {
	color: #ffffff;
}

header h2 {
    font-size: 150%;
    font-family: 'Crushed', cursive;
    letter-spacing: 10px;
}

/* --------------------- NAVIGATION ------------------------------ */
nav {
	width: 100%;
	float: left;
	border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    font-family: 'Crushed', cursive;
	letter-spacing: 5px;
	}

nav a {
	display: block;
	height: 50px;
	width: 25%;
	float: left;
	text-align: center;
	background: #e5ad77;
	color: #ffffff;
	text-decoration: none;
	line-height: 50px;
	}

nav a:hover {
	background: #ca8866;
}

nav #current {
	background: #ffffff;
	color: #e5ad77;
}

/* ---------------------- MAIN ----------------------------------- */

main{
	margin-top: 54px;
}

#intro {
	text-align: center;
	background-image: url(../images/santorini.jpg);
	background-size: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-position: bottom;
}

#nataliepic {
	width: 20%;
	padding: 10px;
	border: solid 4px #ffffff;
	margin-top: 5%;
	margin-bottom: 5%;
	display: inline-block;
}

#meetnatalie {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-top: 7%;
	margin-left: 5%;
	padding: 30px;
	text-align: center;
	background-color: #ffffff;
	color: #63707e;
}

#meetnatalie h1 {
	font-family: 'Sacramento', cursive;
	font-size: 300%;
	color: #ca8866;
}

#meetnatalie p {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	margin-top: 2%;
}

#homepics {
	text-align: center;
}

#homepics img {
	width: 25%;
	padding: 30px;
	height: 207px;
}

#about {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

#about h1{
	font-family: 'Sacramento', cursive;
	font-size: 300%;
	color: #ca8866;
	margin-top: 15%;
	text-align: center;
}

#about p {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	color: #63707e;
}

#aboutpic img {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

#about2 h1 {
	font-family: 'Sacramento', cursive;
	font-size: 300%;
	color: #ca8866;
	margin-top: 5%;
	text-align: center;
}

#about2 p {
	width: 25%;
	height: 192px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 200%;
	text-align: center;
	vertical-align: middle;
}

.destinations {
	position: relative;
	display: inline-block;
	width: 20%;
	margin: 20px;
}

.destinations div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 200%;
	text-shadow: 5px 5px 20px #000000;
}

.destinations img {
	width: 100%;
	height: 200px;
}

.row {
	text-align: center;
}

/*-------------------------FOOTER--------------------------------- */
footer {
	width: 100%;
	clear: both;
	background-color: #ca8866;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	text-align: center;
	padding-bottom: 15px;
}

table {
	width: 100%;
}
	
table thead tr th {
	width: 33%;
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: bolder;
}

table tbody tr td {
	padding-bottom: 10px;
	font-size: 80%;
}

table tbody tr td a:link, 
table tbody tr td a:visited {
	color: #ffffff;
	padding: 0% 5px;
	text-decoration: none;
}

.contact {
	text-align: left;
	padding-left: 10%;
}
